.link{
    color: blue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;    
    margin-top: 5px;
    display: inline-block;
    width: max-content;
}
.link:hover{
    text-decoration: underline;
}
#output{
    color: var(--bg-danger);
    text-align: left;
    margin-top: 10px;
}
#form-signup,#form-signin{
    width: 70%;
    margin: auto;
    font-family: 'Sunflower', sans-serif;
    font-size: 18px; 
}
fieldset{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
legend{
    background: var(--bg-header);
    color: white;
    padding: 5px 20px;
    border: 0;
    border-radius: 20px;
    font-size: 1.2em;    
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* padding: 5px; */
}
.input-group label{
    text-align: left;
    font-size: 1em;
    /* margin-bottom: 1px; */
}
.input-group input{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
}
#btn-signup,#btn-signin{
    background: var(--bg-header);
    border: 1px solid var(--bg-header);
    color: white;
    cursor: pointer;
    font-size: 0.8em;
    transition: background 0.2s ease-in-out;
}
#btn-signup:hover,#btn-signin:hover{
    background: var(--bg-header-hover);
}


@media (max-width: 500px){
    #form-signup,#form-signin{
        width: 100%;
    }
}